/* In this CSS file I combined duplicate elements into single classes, and also removed duplicate properties. I made this file shoter, clearer, and now each single selector has as many personal properties as possible.  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

h1,
nav {
  display: inline-block;
  margin: 10px;
}

nav {
  float: right;
  padding-top: 17px;
}

ul {
  display: inline-flex;
  list-style-position: inside;
}

li {
  list-style-type: none;
  margin-right: 20px;
  letter-spacing: 1px;
  padding-left: 20px;
}

h1 {
  font-size: 48px;
}

#header_seo {
  color: #d9dcd6;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
  padding: 10px 5px 15px 0px;
}

#meeting_pic {
  height: 40%;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.img_content_left {
  float: left;
  margin-right: 25px;
}

.img_content_right {
  float: right;
  margin-left: 25px;
}

#benefits {
  margin-right: 20px;
  padding: 10px 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefit_item {
  margin-bottom: 32px;
  color: #ffffff;
  display: block;
  margin: 10px auto;
}

h3 {
  margin: 10px auto 10px auto;
  text-align: center;
}

.img_benefit {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.content_preview {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
  font-size: 36px;
}

.img_content_right,
.img_content_left {
  max-height: 200px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
